.typer_top {
    display: flex;
    flex-wrap: wrap;
}
.typer_top > * {
    margin: 5px 0 !important;
}
.typer__info {
    flex: 4 0 auto;
    min-width: 190px;
}
.typer__info__img, .typer-button > span:first-child {
    width: 36px;
    height: 36px;
    text-align: center;
    float: left;
    padding: 3px;
    box-sizing: border-box;
}
.typer__info__img img, .typer-button > span:first-child img {
    height: 100%;
}
.typer__info__img + div {
    margin-left: 36px;
    font-size: var(--small-font);
    line-height: 1.3;
    padding: 4px 0;
}
.typer__info + button {
    flex: 1 1 auto;
}
.typer__types {
    display: grid;
    margin: 5px -3px -3px;
    grid-template-columns: 1fr 1fr;
}
.typer__types button {
    margin: 3px;
    justify-content: left;
}
.typer-button > span:first-child + span {
    font-size: var(--small-font);
    padding: 3px 3px 3px 0;
    line-height: 1.3;
    overflow: hidden;
    min-width: 50px;
    text-align: left;
    max-height: 24px;
    box-sizing: content-box;
}
.typer-button__size {
    display: block;
}